tbody img {
  height: 40px;
  margin-right: 10px;
}

table {
  margin: 0 auto;
  margin-top: 2%;
  margin-bottom: 2%;
  color: #006400;
  box-shadow: 10px 10px 5px rgba(0,100,0,.1);
}

th {
  padding: 5px 10px;
  text-align: center;
  border: #006400 solid thin;
  background-color: #006400;
  color: white;
}

.listType {
  cursor: pointer;
}

td {
  padding: 5px 10px;

}

td {
  text-align: center;
  border: #006400 solid thin;
}

.username {
  text-align: left;
}

span {
  margin-left: 5px;
}
